nav {
    background: rgba(0, 0, 0, 0.9);
    padding: 10px;
    display: flex;
    justify-content: right;
    color: #fff;
    position: sticky;
    z-index: 99;
  }
  
  .headerT {
    font-weight: 400;
    font-size: 25px;
    color: white;
  }
  
  .menulist {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: right;
  }
  
  .menulist li a {
    text-decoration: none;
    color: #ffff;
    font-weight: 200;
    padding: 5px 10px;
    margin-left: 20px;
  }
  
  .menulist li a:hover,
  .menulist li a.active {
    text-decoration: underline;
  }
  
  
/* spinner */


@keyframes ldio-lq7iottsl79 {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-lq7iottsl79 div {
  position: absolute;
  width: 43px;
  height: 43px;
  border: 5px solid #157759;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-lq7iottsl79 div {
  animation: ldio-lq7iottsl79 1s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-sq6g23d9s7 {
  width: 98px;
  height: 98px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-lq7iottsl79 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.98);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-lq7iottsl79 div { box-sizing: content-box; }



@keyframes ldio-raemflyyk8 {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-raemflyyk8 div {
  position: absolute;
  width: 43px;
  height: 43px;
  border: 5px solid #157759;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-raemflyyk8 div {
  animation: ldio-raemflyyk8 1s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-9wwlhi5tw7 {
  width: 98px;
  height: 98px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-raemflyyk8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.98);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-raemflyyk8 div { box-sizing: content-box; }



@keyframes ldio-cygw5pskthw {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5,1.5);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-cygw5pskthw div > div {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #0051a2;
  animation: ldio-cygw5pskthw 1s linear infinite;
}.ldio-cygw5pskthw div:nth-child(1) > div {
  left: 74px;
  top: 44px;
  animation-delay: -0.875s;
}
.ldio-cygw5pskthw > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 80px 50px;
}.ldio-cygw5pskthw div:nth-child(2) > div {
  left: 65px;
  top: 65px;
  animation-delay: -0.75s;
}
.ldio-cygw5pskthw > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 71px 71px;
}.ldio-cygw5pskthw div:nth-child(3) > div {
  left: 44px;
  top: 74px;
  animation-delay: -0.625s;
}
.ldio-cygw5pskthw > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 50px 80px;
}.ldio-cygw5pskthw div:nth-child(4) > div {
  left: 23px;
  top: 65px;
  animation-delay: -0.5s;
}
.ldio-cygw5pskthw > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 29px 71px;
}.ldio-cygw5pskthw div:nth-child(5) > div {
  left: 14px;
  top: 44px;
  animation-delay: -0.375s;
}
.ldio-cygw5pskthw > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 20px 50px;
}.ldio-cygw5pskthw div:nth-child(6) > div {
  left: 23px;
  top: 23px;
  animation-delay: -0.25s;
}
.ldio-cygw5pskthw > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 29px 29px;
}.ldio-cygw5pskthw div:nth-child(7) > div {
  left: 44px;
  top: 14px;
  animation-delay: -0.125s;
}
.ldio-cygw5pskthw > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 50px 20px;
}.ldio-cygw5pskthw div:nth-child(8) > div {
  left: 65px;
  top: 23px;
  animation-delay: 0s;
}
.ldio-cygw5pskthw > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 71px 29px;
}
.loadingio-spinner-spin-svzsbqvmgk {
  width: 33px;
  height: 33px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-cygw5pskthw {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.33);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-cygw5pskthw div { box-sizing: content-box; }

